{
    "openapi": "3.0.3",
    "info": {
        "title": "Accredible Credential API",
        "version": "25.08.0",
        "description": "The [Accredible](https://www.accredible.com/) Credential API allows you to create and interact with badges and certificates called [Accredible Credentials](https://www.credential.net/10000005).\n\nThere are 3 main objects in Accredible: Credentials, Groups and Designs.\n\n### Getting Started with the API - Video Walkthrough\n\n[![Getting Started with the API Video Walkthrough](https://cdn.accredible.com/api-overview.jpg)](https://www.loom.com/share/1093916cb4be421eb1ff86f085dae337?sid=0bb24e68-c7b4-41a6-aab8-f5c14841a29c)\n\n# Objects Overview\n## Credentials\n[Credentials](http://docs.accrediblecredentialapi.apiary.io/#reference/credentials) are the core object in the API. They collect all of the data related to a course, training acitivity or achievment and the recipient/participant information.\n\nYou should create a credential for each achievement completion that a recipient has. For example if John Doe finishes the Programming 101 course we should create one credential to represent that. If John Doe achieves something else then he would need a new credential.\n\n## Groups\n\n[Groups](http://docs.accrediblecredentialapi.apiary.io/#reference/groups) represent an achievement such as a course or qualification. They contain information about the achievement and have multiple Credentials attached to them.\n\nFor example you should create a group for the Introduction to Programming course. You'd provide the Course Name, Course Descripion and Course URL. In the future you can pass the name or ID of this group when creating a credential so that the credential is passed all the information relating to the achievement.\n\n## Designs\n\n[Designs](http://docs.accrediblecredentialapi.apiary.io/#reference/designs) provide a visual specification for how a Credential should be rendered. Design can be used accross multiple Groups.\n\nFor example if we have three courses: Intro to Basic Programming, Intro to Advanced Programming and Intro to DevOps each of these may have the same design for their Credentials. When creating or updating their corresponding Groups you would attach the desired design accordingly.\n\n## Departments\n\n[Departments](http://docs.accrediblecredentialapi.apiary.io/#reference/departments), if enabled for your account allow you to manage multiple, independent organization groups. Each Department is entirely separate with it's own Designs, Groups, Branding, etc. You cannot share data between Departments except Billing and Administrators.\n\n## Attributes\n\n[Attributes](http://docs.accrediblecredentialapi.apiary.io/#reference/attributes), are used to merge information with your badge or certificate designs and email templates. Attributes acts as as placeholders for information and can be added to certificate designs and email templates.\n\n# API Keys\n\nAPI keys are used as Authorization tokens in the header in all authenticated API endpoints. These Keys are managed in the [Accredible Dashboard](https://dashboard.accredible.com/). There are two types of API Keys, those that are account wide and work on all assets and those that are related to a specific department. API keys scoped to a specific department can only access the resources (Credentials, Groups, Designs etc.) belonging to that department.\n\n# Single sign-on options\n\n[Single sign-on](http://docs.accrediblecredentialapi.apiary.io/#reference/sso) in addition to the student authentication provided by Accredible, you can also use single sign-on to authenticate your student into Accredible and they can directly sign-in.\n\nSSO is also available via our Integrations and via SAML 2.0.\n\n# Rate Limiting\n\nWe allow up to 2000 requests every 5 minutes from a single IP address, but some higher security endpoints have stricter rate limiting. Requests are counted in 30 second periods.\n\nIf you attempt to make requests more quickly than permitted by these rules, you may receive a `429 Too Many Requests` response from an endpoint.\n\n# Errors\n\nAccredible uses conventional HTTP response codes to indicate the success or failure of an API request. Codes in the 2xx range indicate success in general and codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a permissions error, etc). Codes in the 5xx range indicate an error with Accredible.\n\nSummary of response codes:\n\n| Response Code | Description |\n| ------------- | ------------- |\n| 200 | The request was successful. |\n| 401 | Invalid API key. |\n| 403 | Permissions error. You do not have access to the requested resource. |\n| 404 | The request used a resource that could not be found. |\n| 429 | Too many requests. Please see the Rate Limiting section. |\n| 500 | Accredible Internal Error. |"
    },
    "servers": [
        {
            "url": "https://api.accredible.com/"
        }
    ],
    "paths": {
        "/v1/credentials": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "credential": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "approve": {
                                                    "type": "boolean"
                                                },
                                                "grade": {
                                                    "nullable": true
                                                },
                                                "complete": {
                                                    "type": "boolean"
                                                },
                                                "issued_on": {
                                                    "type": "string"
                                                },
                                                "course_link": {
                                                    "type": "string"
                                                },
                                                "custom_attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Location": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "expired_on": {
                                                    "nullable": true
                                                },
                                                "group_name": {
                                                    "type": "string"
                                                },
                                                "group_id": {
                                                    "type": "number"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "encoded_id": {
                                                    "type": "string"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "seo_image": {
                                                    "type": "string"
                                                },
                                                "certificate": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "badge": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "evidence_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "preview_image_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "link_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "string_object": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "grade": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "nullable": true
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "position": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "description",
                                                            "preview_image_url",
                                                            "link_url",
                                                            "type",
                                                            "string_object",
                                                            "supplemental",
                                                            "position"
                                                        ]
                                                    }
                                                },
                                                "references": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "relationship": {
                                                                "type": "string"
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "approve": {
                                                                "type": "boolean"
                                                            },
                                                            "referee": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "email": {
                                                                        "nullable": true
                                                                    },
                                                                    "avatar": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "recipient": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "meta_data": {
                                                            "type": "object",
                                                            "properties": {
                                                                "bar": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "issuer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "nullable": true
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "number"
                                                        }
                                                    }
                                                },
                                                "meta_data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "foo": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "credential": {
                                        "id": "10000005",
                                        "name": "Example Certificate",
                                        "description": "This is an example description - you can write anything you want here.\n\nWe recommend describing the achievement.",
                                        "approve": true,
                                        "grade": null,
                                        "complete": true,
                                        "issued_on": "2014-08-14",
                                        "course_link": "https://www.accredible.com",
                                        "custom_attributes": {
                                            "Location": "London"
                                        },
                                        "expired_on": null,
                                        "group_name": "Example Certificate Design",
                                        "group_id": 9549,
                                        "url": "https://www.credential.net/10000005",
                                        "encoded_id": "10000005",
                                        "private": false,
                                        "seo_image": "https://api.accredible.com/v1/frontend/credential_seo_image/10000005",
                                        "certificate": {
                                            "image": {
                                                "preview": "https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/10000005"
                                            }
                                        },
                                        "badge": {
                                            "image": {
                                                "preview": "https://api.accredible.com/v1/frontend/credential_badge_image/10000005"
                                            }
                                        },
                                        "evidence_items": [
                                            {
                                                "id": 826,
                                                "description": "Final Grade",
                                                "preview_image_url": null,
                                                "link_url": null,
                                                "type": "grade",
                                                "string_object": {
                                                    "grade": 80
                                                },
                                                "supplemental": false,
                                                "position": 1
                                            },
                                            {
                                                "id": 10,
                                                "description": "Presentation",
                                                "preview_image_url": "https://s3.amazonaws.com/staging_accredible_api_evidence_items/previews/10/medium/open-uri20140316-15300-14jngj.jpg?1408372366",
                                                "link_url": "https://s3.amazonaws.com/staging_accredible_api_evidence_items/files/10/original/open-uri20140316-15300-14jngj.pdf",
                                                "type": "file",
                                                "string_object": null,
                                                "supplemental": true,
                                                "position": 4
                                            }
                                        ],
                                        "references": [
                                            {
                                                "id": 2,
                                                "description": "Although he had difficulty with the course material at first, John learned a lot throughout the course. His final project was one of the best in his class.",
                                                "relationship": "mentored",
                                                "supplemental": false,
                                                "approve": true,
                                                "referee": {
                                                    "name": "Example Person",
                                                    "email": null,
                                                    "avatar": "https://s3.amazonaws.com/staging_accredible_api_individuals/images/4/thumb/open-uri20140815-11960-1r0hppg?1408416647"
                                                }
                                            }
                                        ],
                                        "recipient": {
                                            "name": "Jordan Smith",
                                            "email": "jor@dan.org",
                                            "id": "ct992",
                                            "meta_data": {
                                                "bar": "foo"
                                            }
                                        },
                                        "issuer": {
                                            "name": "Example Organization",
                                            "description": null,
                                            "url": "http://www.accredible.com",
                                            "id": 4897
                                        },
                                        "meta_data": {
                                            "foo": "bar"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Create a New Credential",
                "operationId": "Create a New Credential",
                "description": "You create a Credential with optional EvidenceItems and References using this action. Please make sure that you've created a group on your dashboard before creating a Credential. If you haven't then [create a group in the dashboard](https://dashboard.accredible.com/issuer/dashboard/group/new?edit=information-and-appearance) or use [this API request](https://accrediblecredentialapi.docs.apiary.io/reference/groups/groups/create-a-group).\n\nThis endpoint requires a JSON object containing a Credential.\n\n**Important:** If you don’t have enough credits when attempting to create Credentials with this endpoint, your credentials will still be created in your account, but will not be published. This will save your data and prevent you from having to re-attempt your request later. You will be able to publish the created credentials in your account when you have the required credits\n\n[Creating Credentials - Video Walkthrough](https://www.loom.com/share/c7c47531a46d4a3f85abaf7413d9e636?sid=b3998a3d-dd4a-4289-84fc-db6df40efd5b)",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token token=YOUR API_KEY",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token token=YOUR API_KEY"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "credential": {
                                    "recipient": {
                                        "name": "John Doe",
                                        "email": "person@example.com",
                                        "id": "PK-17993",
                                        "meta_data": {
                                            "credential_batch": "772"
                                        }
                                    },
                                    "name": "Credential Name",
                                    "group_name": "course1234",
                                    "group_id": 23,
                                    "description": null,
                                    "issued_on": "2014-06-14",
                                    "evidence_items": [
                                        {
                                            "description": "Report card including all grades",
                                            "url": "http://www.awesomelearningexample.com/johndoe/reportcard",
                                            "category": "url"
                                        },
                                        {
                                            "description": "Final essay",
                                            "file": "https://s3.amazonaws.com/accredible_api_evidence_items/files/12/original/open-uri20140316-15266-1m3by6h.jpeg",
                                            "category": "file"
                                        }
                                    ],
                                    "references": [
                                        {
                                            "description": "John worked hard on this course and provided exemplary understanding of the core concepts",
                                            "referee": {
                                                "name": "Jane Doe",
                                                "email": "person2@example.com",
                                                "avatar": "https://placehold.it/100x100",
                                                "url": "https://any-url.com"
                                            },
                                            "relationship": "managed"
                                        }
                                    ],
                                    "custom_attributes": {
                                        "custom_variables": "some value",
                                        "dob": "29 jan 1970"
                                    },
                                    "meta_data": {
                                        "batch_id": "TK210"
                                    }
                                }
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "The unique ID of the credential. If you supply your own internal ID we'll use this as a reference for the Credential. If not we'll assign an ID."
                                    },
                                    "recipient.name": {
                                        "type": "string",
                                        "description": "The name of the recipient the credential is issued to."
                                    },
                                    "recipient.email": {
                                        "type": "string",
                                        "description": "The recipient's email address."
                                    },
                                    "recipient.id": {
                                        "type": "string",
                                        "description": "The recipient's user ID as defined by your organization. This alllows you to easily map your recipients to their Credentials regardless of changes to their email address."
                                    },
                                    "recipient.meta_data": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "You can use this parameter to attach key-value strings to the object. Meta data is useful for storing additional, structured information on an object."
                                    },
                                    "group_id": {
                                        "type": "number",
                                        "description": "Group Id to which the credential should belong. Legacy field. Group name may be used in place of a Group ID."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The Credential/course name displayed to recipients. This is required if the Group the Credential belongs to doesn't have a Course Name set."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "The credential/course description displayed to recipients. This is required if the Group the Credential belongs to doesn't have a Course Description set."
                                    },
                                    "custom_attributes": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "Custom variables to display on the Credential. These should be added to the design using the visual editor. Data should be formatted as a JSON hash where keys are the custom attribute names and the values are the values to be displayed on the Credential."
                                    },
                                    "issued_on": {
                                        "type": "string",
                                        "description": "Date of issue, the default is when the credential is created. Format: YYYY-MM-DD (DD/MM/YYYY also works but is deprecated)"
                                    },
                                    "expired_on": {
                                        "type": "string",
                                        "description": "Date you would like the credential to expire on, null by default. Format: YYYY-MM-DD (DD/MM/YYYY also works but is deprecated)"
                                    },
                                    "complete": {
                                        "type": "boolean",
                                        "description": "Whether the achievement is complete or still in progress, true by default."
                                    },
                                    "private": {
                                        "type": "boolean",
                                        "description": "Whether to make credential private. When it is set to `true`, the Credential will be private and visible only to its recipient who has signed into credential.net. If no value is set, the default value will be automatically assigned based on `Group.generate_private_credential` and `Department.generate_private_credential`. `Department.generate_private_credential` will be used as the default when `Group.generate_private_credential` is set to `null`. `Group.generate_private_credential` will override `Department.generate_private_credential` and be used as the default when it is set to `true` or `false`."
                                    },
                                    "approve": {
                                        "type": "boolean",
                                        "description": "Whether to publish credential at the time of creation. By default this is true but settings at dashboard for sandbox_mode take precendence."
                                    },
                                    "allow_supplemental_evidence": {
                                        "type": "boolean",
                                        "description": "Whether to allow recipients to add their own supplemental evidence to the Credential, true by default."
                                    },
                                    "allow_supplemental_references": {
                                        "type": "boolean",
                                        "description": "Whether to allow recipients to add their own supplemental references to the credential, true by default."
                                    },
                                    "evidence_items": {
                                        "description": "Evidence to add to this credential, that provide more information about how the recipient met the achievement. See http://docs.accrediblecredentialapi.apiary.io/#reference/evidence-items/evidence-item/create-a-new-evidence-item for fields. Typically this would include work samples for a course."
                                    },
                                    "references": {
                                        "description": "References to add to this Credential, that provide more information about how the recipient met the achievement. see http://docs.accrediblecredentialapi.apiary.io/#reference/references/reference/create-a-new-reference for fields. Typically this would be a peer, teacher or manager giving their feedback."
                                    },
                                    "meta_data": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "You can use this parameter to attach key-value strings to the object. Meta data is useful for storing additional, structured information on an object."
                                    }
                                },
                                "required": [
                                    "recipient.name",
                                    "recipient.email",
                                    "group_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/v1/credentials/bulk_create": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Bulk Create credentials",
                "operationId": "Bulk Create credentials",
                "description": "Create multiple Credentials using this action. It requires a JSON object containing credentials in an array.\n\n**Important:** If you don’t have enough credits when attempting to create Credentials with this endpoint, your credentials will still be created in your account, but will not be published. This will save your data and prevent you from having to re-attempt your request later. You will be able to publish the created credentials in your account when you have the required credits.\n\n**API Limits:** Each request can accommodate up to 100 credentials. Should you have a larger set of credentials to process, it's recommended to split them into batches of 100 and make successive calls to this API.\n\n[Bulk Creating Credentials - Video Walkthrough](https://www.loom.com/share/df043cb9d2b04140bcc53b633d232147?sid=005848bc-91a9-49cc-8f12-7f31c15245f8)",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token token=YOUR API_KEY",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token token=YOUR API_KEY"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "credentials": [
                                    {
                                        "recipient": {
                                            "name": "John Doe",
                                            "email": "student@example.com"
                                        },
                                        "group_id": "22625"
                                    },
                                    {
                                        "recipient": {
                                            "name": "John Doe",
                                            "email": "student@example.com"
                                        },
                                        "group_id": "62430"
                                    }
                                ]
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "credentials": {
                                        "description": "Array of the credentials payload all field applicable which is in create credential endpoint."
                                    }
                                },
                                "required": [
                                    "credentials"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/v2/credentials/bulk_create": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    },
                    "207": {
                        "description": "Multi-Status",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "credential": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "approve": {
                                                                "type": "boolean"
                                                            },
                                                            "recipient": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "email": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "number"
                                                                    },
                                                                    "meta_data": {
                                                                        "nullable": true
                                                                    }
                                                                }
                                                            },
                                                            "issuer": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "type": "string"
                                                                    },
                                                                    "description": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "issued_on": {
                                                                "type": "string"
                                                            },
                                                            "group_name": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "grade": {
                                                                "nullable": true
                                                            },
                                                            "complete": {
                                                                "type": "boolean"
                                                            },
                                                            "expired_on": {
                                                                "nullable": true
                                                            },
                                                            "custom_attibutes": {
                                                                "nullable": true
                                                            },
                                                            "course_link": {
                                                                "nullable": true
                                                            },
                                                            "meta_data": {
                                                                "nullable": true
                                                            },
                                                            "evidence_items": {
                                                                "type": "array",
                                                                "items": {}
                                                            },
                                                            "references": {
                                                                "type": "array",
                                                                "items": {}
                                                            }
                                                        }
                                                    },
                                                    "errors": {
                                                        "type": "object",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "results": [
                                        {
                                            "credential": {
                                                "id": 1234,
                                                "approve": false,
                                                "recipient": {
                                                    "name": "John Doe",
                                                    "email": "person2@example.com",
                                                    "id": 232,
                                                    "meta_data": null
                                                },
                                                "issuer": {
                                                    "name": "Course Provider",
                                                    "url": "http://www.awesomelearningexample.com",
                                                    "description": "Technical courses at an introductory level..."
                                                },
                                                "name": "Credential Name",
                                                "description": "A detailed description of what the credential is for",
                                                "issued_on": "2014-06-14",
                                                "group_name": "Test Group",
                                                "url": "https://www.example.com/10000005",
                                                "grade": null,
                                                "complete": true,
                                                "expired_on": null,
                                                "custom_attibutes": null,
                                                "course_link": null,
                                                "meta_data": null,
                                                "evidence_items": [],
                                                "references": []
                                            },
                                            "errors": {
                                                "code": "insufficient_credits",
                                                "message": "The credential was created but not published."
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errors": {
                                                        "type": "object",
                                                        "properties": {
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            },
                                                            "details": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "property": {
                                                                            "type": "string"
                                                                        },
                                                                        "message": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "results": [
                                        {
                                            "errors": {
                                                "code": "credential_invalid",
                                                "message": "The credential is not valid",
                                                "details": [
                                                    {
                                                        "property": "recipient.email",
                                                        "message": "has already been taken. Your group settings do not allow duplicates of this credential to be sent to the same email."
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "Bulk Create Credentials",
                "operationId": "Bulk Create Credentials",
                "description": "**Important:** If you don’t have enough credits when attempting to create Credentials with this endpoint, your credentials will still be created in your account, but will not be published.\nIt supports multi-status responses, where partial successes and errors are consolidated into a single structure with `status: 207 Multi-Status`.\nYou will be able to publish the created credentials in your account when you have the required credits.\n\n**API Limits:** Each request can accommodate up to 30 credentials. Should you have a larger set of credentials to process, it's recommended to split them into batches of 30 and make successive calls to this API.",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token token=YOUR API_KEY",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token token=YOUR API_KEY"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "credentials": {
                                        "description": "Array of the credentials payload all field applicable which is in create credential endpoint."
                                    }
                                },
                                "required": [
                                    "credentials"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/v1/credentials/{id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "credential": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "approve": {
                                                    "type": "boolean"
                                                },
                                                "grade": {
                                                    "nullable": true
                                                },
                                                "complete": {
                                                    "type": "boolean"
                                                },
                                                "issued_on": {
                                                    "type": "string"
                                                },
                                                "course_link": {
                                                    "type": "string"
                                                },
                                                "custom_attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Location": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "expired_on": {
                                                    "nullable": true
                                                },
                                                "group_name": {
                                                    "type": "string"
                                                },
                                                "group_id": {
                                                    "type": "number"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "encoded_id": {
                                                    "type": "string"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "seo_image": {
                                                    "type": "string"
                                                },
                                                "certificate": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "badge": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "evidence_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "preview_image_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "link_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "string_object": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "grade": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "nullable": true
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "position": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "description",
                                                            "preview_image_url",
                                                            "link_url",
                                                            "type",
                                                            "string_object",
                                                            "supplemental",
                                                            "position"
                                                        ]
                                                    }
                                                },
                                                "references": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "relationship": {
                                                                "type": "string"
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "approve": {
                                                                "type": "boolean"
                                                            },
                                                            "referee": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "email": {
                                                                        "nullable": true
                                                                    },
                                                                    "avatar": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "recipient": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "meta_data": {
                                                            "nullable": true
                                                        }
                                                    }
                                                },
                                                "issuer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "nullable": true
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "number"
                                                        }
                                                    }
                                                },
                                                "meta_data": {
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "credential": {
                                        "id": "10000005",
                                        "name": "Example Certificate",
                                        "description": "This is an example description - you can write anything you want here.\n\nWe recommend describing the achievement.",
                                        "approve": true,
                                        "grade": null,
                                        "complete": true,
                                        "issued_on": "2014-08-14",
                                        "course_link": "https://www.accredible.com",
                                        "custom_attributes": {
                                            "Location": "London"
                                        },
                                        "expired_on": null,
                                        "group_name": "Example Certificate Design",
                                        "group_id": 9549,
                                        "url": "https://www.credential.net/10000005",
                                        "encoded_id": "10000005",
                                        "private": false,
                                        "seo_image": "https://api.accredible.com/v1/frontend/credential_seo_image/10000005",
                                        "certificate": {
                                            "image": {
                                                "preview": "https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/10000005"
                                            }
                                        },
                                        "badge": {
                                            "image": {
                                                "preview": "https://api.accredible.com/v1/frontend/credential_badge_image/10000005"
                                            }
                                        },
                                        "evidence_items": [
                                            {
                                                "id": 826,
                                                "description": "Final Grade",
                                                "preview_image_url": null,
                                                "link_url": null,
                                                "type": "grade",
                                                "string_object": {
                                                    "grade": 80
                                                },
                                                "supplemental": false,
                                                "position": 1
                                            },
                                            {
                                                "id": 10,
                                                "description": "Presentation",
                                                "preview_image_url": "https://s3.amazonaws.com/staging_accredible_api_evidence_items/previews/10/medium/open-uri20140316-15300-14jngj.jpg?1408372366",
                                                "link_url": "https://s3.amazonaws.com/staging_accredible_api_evidence_items/files/10/original/open-uri20140316-15300-14jngj.pdf",
                                                "type": "file",
                                                "string_object": null,
                                                "supplemental": true,
                                                "position": 4
                                            }
                                        ],
                                        "references": [
                                            {
                                                "id": 2,
                                                "description": "Although he had difficulty with the course material at first, John learned a lot throughout the course. His final project was one of the best in his class.",
                                                "relationship": "mentored",
                                                "supplemental": false,
                                                "approve": true,
                                                "referee": {
                                                    "name": "Example Person",
                                                    "email": null,
                                                    "avatar": "https://s3.amazonaws.com/staging_accredible_api_individuals/images/4/thumb/open-uri20140815-11960-1r0hppg?1408416647"
                                                }
                                            }
                                        ],
                                        "recipient": {
                                            "name": "Jordan Smith",
                                            "email": "jor@dan.org",
                                            "id": "dw373",
                                            "meta_data": null
                                        },
                                        "issuer": {
                                            "name": "Example Organization",
                                            "description": null,
                                            "url": "http://www.accredible.com",
                                            "id": 4897
                                        },
                                        "meta_data": null
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "View a Credential",
                "operationId": "View a Credential",
                "description": "[View Credentials - Video Walkthrough](https://www.loom.com/share/9724ce5eb0694dfab0c03f5b70d8a3f3?sid=cea2c757-5031-4ff1-b33d-91b361fd0cdf)",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Credential in the form of an integer or string for the particular Credential requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token token=YOUR API _KEY",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token token=YOUR API _KEY"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {}
                    }
                },
                "summary": "Update a Credential",
                "operationId": "Update a Credential",
                "description": "[Updating Credentials - Video Walkthrough](https://www.loom.com/share/4940d9cf43da43dc870f40ac4dd3831f?sid=ebfe460c-01a1-40a0-b5fe-6e8d13386f54)",
                "tags": [
                    "Credentials"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique ID of the credential. If you supply your own internal ID we'll use this as a reference for the Credential. If not we'll assign an ID.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token token=YOUR API _KEY",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token token=YOUR API _KEY"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "credential": {
                                    "approve": true
                                }
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "The unique ID of the credential. If you supply your own internal ID we'll use this as a reference for the Credential. If not we'll assign an ID."
                                    },
                                    "recipient.name": {
                                        "type": "string",
                                        "description": "The name of the recipient the credential is issued to."
                                    },
                                    "recipient.email": {
                                        "type": "string",
                                        "description": "The recipient's email address."
                                    },
                                    "recipient.id": {
                                        "type": "string",
                                        "description": "The recipient's user ID as defined by your organization. This alllows you to easily map your recipients to their Credentials regardless of changes to their email address."
                                    },
                                    "recipient.meta_data": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "You can use this parameter to attach key-value strings to the object. Meta data is useful for storing additional, structured information on an object."
                                    },
                                    "group_id": {
                                        "type": "number",
                                        "description": "Group Id to which the credential should belong. Legacy field. Group name may be used in place of a Group ID."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The Credential/course name displayed to recipients. This is required if the Group the Credential belongs to doesn't have a Course Name set."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "The credential/course description displayed to recipients. This is required if the Group the Credential belongs to doesn't have a Course Description set."
                                    },
                                    "custom_attributes": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "Custom variables to display on the Credential. These should be added to the design using the visual editor. Data should be formatted as a JSON hash where keys are the custom attribute names and the values are the values to be displayed on the Credential."
                                    },
                                    "issued_on": {
                                        "type": "string",
                                        "description": "Date of issue, the default is when the credential is created. Format: YYYY-MM-DD (DD/MM/YYYY also works but is deprecated)"
                                    },
                                    "expired_on": {
                                        "type": "string",
                                        "description": "Date you would like the credential to expire on, null by default. Format: YYYY-MM-DD (DD/MM/YYYY also works but is deprecated)"
                                    },
                                    "complete": {
                                        "type": "boolean",
                                        "description": "Whether the achievement is complete or still in progress, true by default."
                                    },
                                    "allow_supplemental_evidence": {
                                        "type": "boolean",
                                        "description": "Whether to allow recipients to add their own supplemental evidence to the Credential, true by default."
                                    },
                                    "allow_supplemental_references": {
                                        "type": "boolean",
                                        "description": "Whether to allow recipients to add their own supplemental references to the credential, true by default."
                                    },
                                    "evidence_items": {
                                        "description": "Evidence to add to this credential, that provide more information about how the recipient met the achievement. See http://docs.accrediblecredentialapi.apiary.io/#reference/evidence-items/evidence-item/create-a-new-evidence-item for fields. Typically this would include work samples for a course."
                                    },
                                    "references": {
                                        "description": "References to add to this Credential, that provide more information about how the recipient met the achievement. see http://docs.accrediblecredentialapi.apiary.io/#reference/references/reference/create-a-new-reference for fields. Typically this would be a peer, teacher or manager giving their feedback."
                                    },
                                    "meta_data": {
                                        "type": "object",
                                        "properties": {},
                                        "description": "You can use this parameter to attach key-value strings to the object. Meta data is useful for storing additional, structured information on an object."
                                    }
                                },
                                "required": [
                                    "recipient.name",
                                    "recipient.email",
                                    "group_id"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "credential": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "approve": {
                                                    "type": "boolean"
                                                },
                                                "grade": {
                                                    "nullable": true
                                                },
                                                "complete": {
                                                    "type": "boolean"
                                                },
                                                "issued_on": {
                                                    "type": "string"
                                                },
                                                "course_link": {
                                                    "type": "string"
                                                },
                                                "custom_attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Location": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "expired_on": {
                                                    "nullable": true
                                                },
                                                "group_name": {
                                                    "type": "string"
                                                },
                                                "group_id": {
                                                    "type": "number"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "encoded_id": {
                                                    "type": "string"
                                                },
                                                "private": {
                                                    "type": "boolean"
                                                },
                                                "seo_image": {
                                                    "type": "string"
                                                },
                                                "certificate": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "badge": {
                                                    "type": "object",
                                                    "properties": {
                                                        "image": {
                                                            "type": "object",
                                                            "properties": {
                                                                "preview": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "evidence_items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "preview_image_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "link_url": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "string_object": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "grade": {
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "nullable": true
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "position": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "description",
                                                            "preview_image_url",
                                                            "link_url",
                                                            "type",
                                                            "string_object",
                                                            "supplemental",
                                                            "position"
                                                        ]
                                                    }
                                                },
                                                "references": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "relationship": {
                                                                "type": "string"
                                                            },
                                                            "supplemental": {
                                                                "type": "boolean"
                                                            },
                                                            "approve": {
                                                                "type": "boolean"
                                                            },
                                                            "referee": {
                                                                "type": "object",
                                                                "properties": {
[...]
